body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

/* .image {
  cursor: pointer;
} */

.photo {
  width: 40%;
}

.column {
  flex: 33.3%;
  padding: 5px;
}

.row {
  display: flex;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 30%;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 8px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 4px;
}
